{% extends './base.html.twig' %}

{% block main %}
    <table>
        <tr>
            <th>Название</th>
            <td>
                {{ project.subject }}
            </td>
        </tr>
    </table>
{% endblock %}