<h1>{{  project.subject }}</h1>

<div class="text-info">
    {{ project.updatedOn|date('Y-m-d H:i') }}
</div>

<p>
    {{ project.description }}
</p>

<div>
    <a href="/" class="btn btn-link">
        Back to homepage
    </a>
</div>